* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #fff;
    background-color: rgb(2, 2, 56);
    line-height: 4rem;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;

}

.choice:hover {
    background: rgb(36, 5, 66);
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    gap: 5rem;
}

#your-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 4rem;
}
#msg {
    background-color: rgb(27, 2, 51);
    color: #fff;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}